:root {
    --bc-main-color: #8654cc;
    --bc-input-border: 2px solid var(--bc-main-color);
    --bc-input-padding: 10px;
}

a.bc-error-link {
    font-weight: 900;
    text-decoration: underline;
    text-decoration-style: double;
    font-size: 16px;
}

a.bc-error-link:hover {
    color: #5d3a8e91;
}

#bc-id-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
    z-index: 9998;
}

#bc-id-form, #bc-id-promokodes-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: var(--bc-main-color) 0px 0px 10px;
    z-index: 9999;
    border-radius: 3px;
}

span.bc-delete-promokode {
    cursor: pointer !important;
    margin-left: 5px !important;
    font-size: 10px !important;
}

span.bc-delete-promokode::before {
    content: 'X';
    font-weight: 900;
    color: red;
}

label.best-cashback-mm {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #333;
}

.div-bc-promokode-item {
    margin-bottom: 0.5rem;
}

.div-bc-promokode-item label {
    margin-left: 0.4rem;
}

.div-mm-best-cashback-promokodes-select {
    font-weight: 600;
    font-size: 13px;
}

.mm-best-cashback-promokodes-select {
    padding: 0 !important;
}

span#bc-id-setting-up-promokodes {
    color: blue;
}

span#bc-id-setting-up-promokodes:hover {
    text-decoration: underline;
    cursor: pointer;
}

#bc-id-promokodes-form {
    position: relative;
}

#bc-id-reset-promokodes-span {
    position: absolute;
    font-size: 11px;
    right: -14px;
    top: -19px;
    cursor: pointer;
}

#bc-id-reset-promokodes-span:hover {
    text-decoration: underline;
    color: red;
}

button.best-cashback-mm {
    margin-bottom: 0.5rem !important;
}

.bc-add-new-promokode-input {
    font-size: 12px !important;
    margin-bottom: 5px !important;
    padding: 5px !important;
}

#bc-id-promokodes-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 0.5rem;
    border: var(--bc-input-border);
    padding: var(--bc-input-padding);
    border-radius: 5px 0 0 5px;
}

#bc-id-w-f, #bc-id-min-per, #bc-id-sort, #bc-id-max-page, .mm-best-cashback-promokodes-select, input.best-cashback-mm{
    display: block;
    width: 100%;
    padding: var(--bc-input-padding);
    margin-bottom: 10px;
    font-size: 16px;
    border: var(--bc-input-border);
    border-radius: 5px;
    transition: border-color 0.3s;
}

select.best-cashback-mm:focus, input.best-cashback-mm:focus, #bc-id-w-f:focus, #bc-id-min-per:focus, #bc-id-sort:focus, #bc-id-max-page:focus, .mm-best-cashback-promokodes-select:focus {
    outline: none;
    border-color: var(--bc-main-color);
}

select.best-cashback-mm:hover, input.best-cashback-mm:hover, #bc-id-w-f:hover, #bc-id-min-per:hover, #bc-id-sort:hover, #bc-id-max-page:hover, .mm-best-cashback-promokodes-select:hover {
    border-color: var(--bc-main-color);
}

#bc-id-start-button {
    position: fixed;
    bottom: 13%;
    right: 10%;
    z-index: 9997;
}

#bc-id-items-length {
    font-weight: 600;
    font-size: 12px;
}

.bc-stop-searching::before {
    content: "СТОП" !important;
}

#bc-id-start-button::before {
    content: "🔍💵";
}

button.best-cashback-mm, #bc-id-smt, #bc-id-start-button {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: var(--bc-input-border);
    color: #ffffff;
    background-color: var(--bc-main-color);
    border-radius: 24px;
}

button.best-cashback-mm, #bc-id-smt:hover, #bc-id-start-button:hover {
    background-color: var(--bc-main-color);
    border-color: var(--bc-main-color);
}

button.best-cashback-mm, #bc-id-smt:focus, #bc-id-start-button:focus {
    outline: none;
    background-color: var(--bc-main-color);
    border-color: var(--bc-main-color);
}

button#bc-id-save-promokodes, button#bc-id-close-promokodes {
    display: inline !important;
}

span.bc-total-price-data {
    color: var(--bc-main-color);
    font-size: 12pt;
    font-weight: 700;
}